.ourStory-container{
   align-content: center;
    padding-top: 5rem;
    display: flex;
    
}
   
.ourStory-text{
     
     text-align: center;
     padding-top: 5rem;
    
}
 
 .ourStory-heading{
     font-size: 8rem;
     color: orangered;
 }
 
 .ourStory-para {
     font-size: 2.3rem;
     padding-left: 10rem;
     padding-right: 10rem;
 }

.our-story-image{

    height: 60rem;
    width: 40rem;
} 

@media screen  and (max-width:840px) {
    .our-story-image{
       
        height: 25rem;
        width: 15rem;
        padding-top: 10rem;
    }
    
    .ourStory-heading{
        font-size: 2rem;
    }

    .ourStory-para{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}