.about-container{
    padding-top: 3rem;
    align-content: center;
    display: flex;
   }
   
 
 .about-text{
     
     text-align: center;
     padding-top: 5rem;
    
 }
 
 .about-heading{
     font-size: 8rem;
     color: orangered;
 }
 
 .about-para {
     font-size: 2.3rem;
     padding-left: 2rem;
     padding-right: 2rem;
 }

 .aboutImg{
    width: 60rem;
    height: 60rem;
 }

 .hindi-about{
    color: orangered;
 }

 .about-mission{
    font-weight: bold;
    color: orangered;
 }

 @media screen  and (max-width:840px) {
    .aboutImg{
       
        height: 25rem;
        width: 15rem;
        padding-top: 10rem;
    }
    
    .about-heading{
        font-size: 2rem;
    }

    .about-para{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}