.about-container{
    display: flex;
    padding-bottom: 2rem;
   }
 
 .about-heading{
    font-size: 8rem;
    color: orangered;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold
 }
 
 .about-para {
     font-size: 2.3rem;
     padding-left: 4rem;
     padding-right: 0.1rem;
     padding-top: 5rem;
 }

 .aboutImg{
    width: 50rem;
    height: 50rem;
 }

 .hindi-about{
    color: orangered;
 }

 .about-mission{
    font-weight: bold;
    color: orangered;
 }

 @media screen  and (max-width:840px) {
    
    
    .aboutImg{
       
      padding-top: 1.5rem;
       height: 12rem;
       width: 12rem;
    }
    
    .about-heading{
        font-size: 2rem;
        color: orangered;
        text-align: center;
        padding-top: 3rem;
        font-weight: bold;
    }

    .about-para{
        font-size: 0.8rem;
        padding-top: 0.01rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        
    }
    
}