.about-container{
    padding-top: 3rem;
    align-content: center;
    display: flex;
   }
   
 
 .about-text{
     
     text-align: center;
     padding-top: 15rem;
    
 }
 
 .about-heading{
     font-size: 8rem;
     color: orangered;
 }
 
 .ourStory-para {
     font-size: 3rem;
     padding-left: 10rem;
     padding-right: 10rem;
 }

 .aboutImg{
    width: 60rem;
    height: 60rem;
 }