.whyus-container{
    align-content: center;
    background-color: rgb(255, 166, 0);

}
.whyus-image{
    width: 30rem;
    height: 30rem;
    padding-right: 1rem;
    
}
.whyus-contain{
    display: flex;
}
.whyus-text{
    align-content: center;
    padding-right: 3rem;
}

.whyus-heading{
    font-size: 8rem;
    color: rgb(255, 30, 0);
    text-align: center;
    font-weight: bold;
}

.point-heading{
    font-size: 1.8rem;
    font-weight: bold;
    
}
.whyus-para{
    font-size: 2rem;
    text-align: center;
}
.point-desc{
    font-size: 1.8rem;
}


@media screen  and (max-width:840px) {
    .whyus-image{
       
        height: 10rem;
        width: 10rem;
        padding-right: 2rem;
    }

    .whyus-text{
        padding-right: 1rem;
        align-content: center;
    }
    
    .whyus-heading{
        font-size: 2rem;
    }

    .whyus-para{
        font-size: 0.5rem;
        font-weight: bold;
    }
    .point-heading{
        font-size: 0.5rem;
        font-weight: bold;
       
    }
    .point-desc{
        font-size: 0.5rem;
    }
    
}