.whyus-container{
    display: flex;
    align-content: center;
    background-color: rgb(255, 166, 0);
   

}
.whyus-image{
    width: 800px;
    height: 600px;
    
}
.whyus-text{
    align-content: center;
    padding-right: 3rem;
}

.whyus-heading{
    font-size: 8rem;
    color: rgb(255, 30, 0);
    text-align: center;
}

.point-heading{
    font-size: 2rem;
    font-weight: bold;
    
}
.whyus-para{
    font-size: 2rem;
    text-align: justify;
}
.point-desc{
    font-size: 2rem;
}


