.bottomNavbar {
    position:relative;
    bottom: 0;
  left: 0;
    background-color: rgb(255, 166, 0); 
    width:100%;
    justify-content: start;
   
}

.bottomNavbarMenu{
    margin: 1.5rem;
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.heading{
    font-size: 2rem;
    color:red;
    font-weight: bold;
    text-align: center;

}

.footer{
   
    color: white;
    text-align: center;
}

.linkstyle{
    text-decoration: none;
        color: white; 
        font-size: 1.5rem;
}

.sociallinks{
    justify-content: start;
}

.quicklinks{
    justify-content: start;
}

@media screen  and (max-width:840px) {
    
    
    .bottomNavbarMenu{
        padding: 1rem;
        margin: 0.2rem;
    }
   
    .bottomNavbar{
       
    }
    .heading{
        font-size: 1rem;
    }

    .linkstyle{
        font-size: 0.6rem;
    }
    .footer{
        margin-top: 1px;
        font-size: 0.3rem;
    }
    
}